*{
    margin: 0;
    padding: 0;
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-tittle{
    margin-left: 12px;
    font-size: 2.7rem;
}
.span{
    color: red;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: bisque;
    padding: 20px 0px;
    
}
.nav-contant{
    display: flex;
    align-items: center;
}
.nav-contant > ul{
    display: flex;
    align-items: center;
}
.nav-contant li {
    list-style: none;
}
.nav-contant a{
    text-decoration: none;
    color: black;
}
.item{
    margin-left: 15px;
}
.btn-primary{
    border-radius: 10px;
    margin-left: 15px;
    padding: 10px;
    border: 0px;
    margin-bottom: 18px;
}











.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 228, 196, 0.651);
}
.banner-contant{
    width: 50%;
    margin-left: 120px;
    

}

.banner-logo{
    width: 50%;
     

}
.banner-tittle{
    font-size:2rem ;
    margin-bottom: 60px;
}
.goat{
    font-size: 4rem;
    background-image: linear-gradient(to bottom,red,violet);
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 40px;
}
.btn-secondary{
    background-color:orchid;
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    border: 0px;
}
.btn-go{
    background-color:skyblue;
    border-radius: 10px;
    color: white;
    padding: 10px 15px;
    border: 0px;
}
button{
    margin-top: 20px;
    
}
.banner-des{
    font-size: 1.5rem;
    margin-bottom: 6px;
}

}








.group-logo{
    width:50% ;
    margin-right: 50px;
}
.group-contant{
    width: 50%;
    margin: auto;
}
.group-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}
.month{
    margin-left: 100px;
}
.btn-test{
    background-color:red ;
    color:white ;
    border-radius: 10px;
    padding: 10px 15px;
    border: 0px;
    margin-left: 280px;
    margin-bottom: 10px;
}
.group-container h2{
    color: violet;
    margin-left: 180px;
    margin-bottom: 15px;
    font-size: 2rem;
}
.group-contant p{
    margin-left: 30px;
    
}
.group-contant h5{
    
    margin-left: 300px;

}
.group-contant h1{
    

}








.card{
    width: 280px;
    height: 200px;
    margin-left: 15px;
    
}
.card-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: auto;

}
.game-contant{
    text-align: center;
    margin-bottom: 50px;
}
.game-head{
    font-size: 2rem;
}
.game-des{
    
    margin-top: 15px;
}
.funny{
    color:violet ;
}





.horse-container{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 80px;
}
.horse-contant{
    text-align: center;
    margin-left: 150px;
}
.horse-contant p{
    width: 40%;
    margin: auto;
}
.horse-img{
    padding-right: 70px;
}
.profile{
    margin-right:120px ;
    width:40% ;
    margin-top: -200px;
    
}
.cover{
    margin-top: 70px;
    margin-left: 50px;
}
.turn-point{
    margin-left: 40px;
}
.instant{
    color: red;
}








.action-box{
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    margin-left: 10px;
    margin-top: 30px;
    
}
.action-container{
    
    display: grid;
    grid-template-columns: repeat(5,1fr);
    width: 80%;
    margin:auto ;
    padding:30px 120px ;
    background-color:whitesmoke;
}
.action-box:hover{
    border: 2px solid red;
    color: red;
}





.foot-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}
.foot-contant{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-content: center;
    width: 50%;
    margin: auto;
}
.mini-contant{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    width:50% ;
    margin:auto ;
    padding-left:130px ;
}
.last-tag{
    text-align: center;
    margin-top: 30px;
    margin-left: 10px;
}
footer{
    background-color:black;
    color: white;
    margin-top: 50px;
    padding:60px 20px ;
}

.foot-img{
    display: flex;
    justify-content: center;
    margin-top:40px ;
    margin-bottom: 60px;
    
    
}
.mini-logo{
    margin-left: 60px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    
}










@media screen and  (max-width: 577px){
    .nav-container{
        flex-direction: column;
    }
    .nav-contant{
        flex-direction: column;

    }
    .nav-contant > ul{
        flex-direction: column;
    }
    .banner-container{
        flex-direction: column-reverse;
    }
    .group-container{
        flex-direction: column;
    }
    .group-contant{
        width: 100%;
    }
    .card-container{
        flex-direction: column;
    }
    .card{
        margin:40% ;
    }
    .horse-container{
        flex-direction: column;
    }
    .action-container{
        display: grid;
        grid-template-columns: repeat(3,2fr);
    }
        
    
    

}
    
}